In [36]:
import pandas as pd
import numpy as np

In [37]:
pd.set_option('display.max_colwidth',None)

In [38]:
df=pd.read_excel("Grievance_Report (70).xlsx")

In [39]:
df.columns

Index(['S.N', 'Ward No.', 'Case No.', 'Brief Description of the grievance',
       'Grievance by', 'Phone No.', 'Grievance addressed to',
       'Date of Grievance', 'Department', 'Status'],
      dtype='object')

In [40]:
df['Department']="निर्माण कार्य सम्बन्धी"

In [33]:
df.sample()

,S.N,Ward No.,Case No.,Brief Description of the grievance,Grievance by,Phone No.,Grievance addressed to,Date of Grievance,Department,Status
374,375,Ward 16,2700,१६ वडा स्थित कुमारीथान तरुण स्कुल अगाडी ढलको म‌गालको विर्को चोरी भएर खाल्डोमा धेरै एक्सीडेन्ट भयो हालीदीनु पर्‍यो ।,Subodh Ghimire,9869624059,Hari Bahadur Buda,10/31/2022,निर्माण कार्य सम्बन्धी,open

In [41]:
df.drop(['S.N', 'Ward No.', 'Case No.',
       'Grievance by', 'Phone No.', 'Grievance addressed to',
       'Date of Grievance','Status'],axis='columns',inplace=True)

In [42]:
df.rename(columns={"Department":"गुनासो वर्ग","Brief Description of the grievance":"गुनासो"},inplace=True)

In [29]:
df.to_excel("cleaned_data/nirman.xlsx",index=False)